h3 {
    color: rgb(86, 86, 86);
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-color:  rgb(231, 231, 231);
}

.result {
    width: 500px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}

.result:hover {
    transform: scale(1.05);
}

.result img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.info-container {
    text-align: left;
}
.name-container {
    display: flex;
    margin-bottom: 10px;
}

.left-name,
.right-name {
    display: inline-block;
}
h2 {
    font-size: 40px;
}
.colorSquare {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.info a{
    display: inline-block;
    color: #fff;
    background-color: rgb(86, 86, 86);
    padding: 3px;
    border-radius: 10px;
}
.info a:hover {
    
    display: inline-block;
    color: #fff;
    background-color: rgb(109, 108, 108);
    padding: 9px;
    border-radius: 15px;
}
.hlaska {
    color: black;
    font-size: 30px;

}
.no_search {
    margin-top: 100px;
}
.valid{
    background-color: #2bd62b;
    color: white;
    font-size: 30px;
    margin: 0 auto;
    width: 220px;
}
.invalid {
    background-color: red;
    color: white;
    font-size: 30px;
    margin: 0 auto;
    width: 330px;
}